.iconbutton {
    margin: 5px;
    display: block;
    align-items: center;
    padding: 12px;
    width: 30px;
    height: 30px;
    border: none;
    transition: all 0.2s ease-in-out;

    /* override default button styles */
    font-size: 30px !important;
    border-radius: 50% !important;
    box-shadow: none !important;
}

.iconbutton__icon-container {
    display: flex;
    color: var(--default-text);
}
